<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="listValue" value="123,23,34,56,67,87,100,109,45,27,85,76,65,54"/>
    
  </appSettings>
  <connectionStrings>
    <add name="dbconn" connectionString="Data Source=GB104313WIN;Integrated Security=true;Initial Catalog=Contact"/>
  </connectionStrings>
</configuration>